.custom {
    grid-area: custom;
    padding: 1rem;
}

/******* Project Section *******/
.custom__project {
    margin-bottom: 1.5rem;
    
    display: flex;
    flex-direction: column;
}

.custom__project__name {
    margin-bottom: 1rem;
    font-size: var(--font-size-editor);

}

.custom__project__description {
    height: 5rem;
    resize: none;
    font-size: var(--font-size-editor);
}


/******* Config Section *******/
.custom__config {
    margin-bottom: 1rem;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.custom__config__title {
    width: 100%;
}

.custom__config__lp {
    margin-bottom: 1rem;
    font-size: var(--font-size-editor);
    width: 48%;
}


  /******* Custom Button *******/
.custom__config__button {
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 48%;
}

.custom__config__color {
    background: #6BD1FF;
    border-radius: 4px;
    height: 40px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .custom__config {
        flex-direction: column;
    }

    .custom__config__lp {
        width: 100%;
    }

    .custom__config__button {
        width: 100%;
    }


}