.project__social-icons {
    display: flex;
        align-items: center;

    color: var(--color-light);
    height: initial;

    visibility: visible;
    transform: translateY(0);
    transition: transform .5s;
}

.project__info:hover > .project__social-icons {
    height: initial;
    visibility: visible;
    transform: translateY(0);
}

.project__social-icon {
    display: flex;

    border-radius: 16px;
    margin: 0 .2rem;
    padding: .6rem;
}
.project__social-icon svg {
    pointer-events: none;
}

.project__social-icon p {
    margin-left: .5rem;
    pointer-events: none;
}

.project__social-icon:hover {
    background-color: var(--color-menuIcon-hover);
}

.project__social-icon:active {
    background-color: var(--color-menuIcon-pressed);
}

.social-icon--active svg path{
    fill: var(--color-projectIcon-active);
}

.project__user {
    margin-left: auto;
}

.project__user img {
    width: 24px;
}

@media screen and (min-width: 1024px) {
    .project__social-icons {
        height: 0;
        visibility: hidden;
        transform: translateY(-20px);
     }
}