.menu__list {
    border-bottom: 2px solid var(--color-menuIcon-hover);
    padding-bottom: 1rem;
}

.menu__item {
    margin: 1rem auto;
}

.menu__item a {
    display: flex;
        align-items: center;
}

.menu__item svg {
    background-color: var(--color-menuItem-normal);
    border-radius: 1rem;
    padding: 1.5rem;

    transition: background-color .5s;
}

.menu__item svg path {
    fill: var(--color-menuItemText-normal);
}

.menu__item p {
    color: var(--color-menuItemText-normal);
    margin-left: 1rem ;

    transition: color .5s;    
}

.menu__item:hover svg {
    background-color: var(--color-menuItem-hover);
}

.menu__item:hover svg path {
    fill: var(--color-menuItemText-hover);
}

.menu__item:hover p {
    color: var(--color-menuItemText-hover);
}

.menu__item--focus svg {
    background-color: var(--color-menuItem-focus);
}

.menu__item--focus svg path{
    fill: var(--color-menuItemText-focus);
}

.menu__item--focus p {
    color: var(--color-menuItemText-focus);
}


@media screen and (min-width: 1024px) {
    .menu__list {
        border-bottom: none;
        padding-bottom: 1rem;
    }
}