.menu__close-icon {
    border-radius: 16px;
    margin: 0 .5rem;
    padding: 1rem;
}

.menu__close-icon:hover {
    background-color: var(--color-menuIcon-hover);
}

.menu__close-icon:active {
    background-color: var(--color-menuIcon-pressed);
}


@media screen and (min-width: 576px) {
    .menu__close-icon {
        display: none;
    }
}
