.custom__config {
    display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

    margin-bottom: 1rem;
}

.custom__config__title {
    width: 100%;
}

.custom__config__lp {
    font-size: var(--font-size-editor);
    margin-bottom: 1rem;
    width: 48%;
}

.custom__config__button {
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 48%;
}

.custom__config__color {
    background: #6BD1FF;
    border-radius: 4px;
    height: 40px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .custom__config {
        flex-direction: column;
    }

    .custom__config__lp {
        width: 100%;
    }

    .custom__config__button {
        width: 100%;
    }
}