.custom__project {
    display: flex;
        flex-direction: column;
    
    margin-bottom: 1.5rem;
}

.custom__project__name {
    font-size: var(--font-size-editor);
    margin-bottom: 1rem;
}

.custom__project__description {
    font-size: var(--font-size-editor);
    height: 5rem;
    resize: none;
}