.header__search-bar {
    display: none;
    
    margin: 0 2rem;
    max-width: 50%;
}

.header__search-bar:hover {
    background-color: var(--color-formComponent-hover);
}


/******* Media Queries *******/

@media screen and (min-width: 576px) {
    .header__search-bar {
        display: initial;
            flex: 1;
    }
}
